---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "私について";
const skills = ["AviUtl", "C#", "LaTeX"];

const skillColor = "red";
const fontWeight = "bold";
const textCase = "";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <p>これはAstroのチュートリアル用のページです。</p>
  <p>my skills:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
