---
import Social from "./Social.astro"
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>
    <Social platform="GitHub" username="teruyoshl" />
    <Social platform="Twitter" username="teruyoshi_uec" />
  </p>
</footer>